@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 15px;
}
nav p {
  font-size: 1.4rem;
  padding-left: 30px;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  width: auto;
  color: #7C6A0A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 70px;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 50px;
  gap: 25px;
}
article h1 {
  font-size: 2.8rem;
  padding: 0px;
  margin: 0px;
}
article p {
  font-size: 1.4rem;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 12vw;
  padding: 20px;
  background-color: #FA9500;
  border-radius: 35px;
  color: white;
  font-size: 1.6rem;
}
article button:hover {
  transform: scale(1.1);
}
article img {
  width: 25vw;
  border-radius: 19px;
}

section {
  width: auto;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #7C6A0A;
  font-size: 1.9rem;
  padding-bottom: 60px;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h3, section .furniture h3 {
  font-weight: 300;
  padding-bottom: 7px;
  font-size: 1.7rem;
}
section .healthcare p, section .furniture p {
  font-size: 1.4rem;
}
section .healthcare .card-section, section .furniture .card-section {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 29rem;
  height: 38rem;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 18px;
  border-radius: 8px;
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .healthcare .product-card .icon svg, section .furniture .product-card .icon svg {
  width: 28px;
  height: 28px;
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 25rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  width: 28rem;
  height: 23rem;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
  margin-bottom: 5px;
}
section .furniture .card-section .product-card {
  background-color: #BABD8D;
  color: white;
}

.about-us {
  padding-bottom: 60px;
}
.about-us h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.about-us .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mission-section .earth, .about-us .mission-section .innovation {
  width: 35vw;
  display: flex;
  gap: 20px;
  color: #E86424;
}
.about-us .mission-section .earth img, .about-us .mission-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mission-section .earth p, .about-us .mission-section .innovation p {
  text-align: start;
  font-size: 1.4rem;
}

.gallery {
  padding-bottom: 60px;
}
.gallery h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery .gallery-images img {
  width: 40rem;
  height: 40.5rem;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
}

.location {
  color: #E86424;
}
.location h2 {
  padding-bottom: 60px;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.location .map img {
  width: 90vw;
  height: 65vh;
}
.location p, .location h3 {
  font-size: 1.4rem;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: auto;
  padding: 40px;
  color: white;
}
footer h4 {
  font-size: 1.4rem;
  padding-bottom: 10px;
}
footer p {
  font-size: 15px;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .social-media img {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  article {
    display: flex;
    flex-direction: column;
  }
  article button {
    width: 15rem;
    padding: 12px;
    margin-bottom: 25px;
  }
  article img {
    width: 39rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .about-us {
    display: flex;
    flex-direction: column;
  }
  .about-us .mission-section {
    display: flex;
    flex-direction: column; /* Cambiar a columna en pantallas más pequeñas */
    align-items: center; /* Alinear al centro del contenedor */
  }
  .about-us .earth, .about-us .innovation {
    display: flex;
    flex-direction: column;
  }
  .about-us p {
    text-align: end;
  }
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .gallery .gallery-images {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}/*# sourceMappingURL=main.css.map */